In [23]:
import pandas as pd

# Load the aquifer data
aquifer_data = pd.read_csv('aquifer_data.csv')

# Create a mapping dictionary based on the table above
aquifer_to_states = {
    "Georgia & northeast Florida": ["Georgia", "Florida"],
    "Long Island, New York": ["New York"],
    "Maryland and Delaware": ["Maryland", "Delaware"],
    "New Jersey": ["New Jersey"],
    "North Carolina": ["North Carolina"],
    "South Carolina": ["South Carolina"],
    "Virginia": ["Virginia"],
    "Coastal Lowlands of AL,FL,LA,MS": ["Alabama", "Florida", "Louisiana", "Mississippi"],
    "Houston Area and Northern Part of TX Gulf Coast": ["Texas"],
    "Central Part of Gulf Coast Aquifer System in TX": ["Texas"],
    "Winter Garden Area, Southern Part of TX Gulf Coast": ["Texas"],
    "Mississippi Embayment": ["Arkansas", "Louisiana", "Mississippi", "Missouri", "Tennessee"],
    "High Plains (Ogallala) Aquifer": ["Texas", "Kansas", "Nebraska", "Oklahoma", "Colorado", "Wyoming", "South Dakota", "New Mexico"],
    "Central Valley, California": ["California"],
    "Alluvial Basins, Arizona": ["Arizona"],
    "Antelope Valley, California": ["California"],
    "Coachella Valley, California": ["California"],
    "Death Valley Region, CA-NV": ["California", "Nevada"],
    "Escalante Valley, Utah": ["Utah"],
    "Estancia Basin, New Mexico": ["New Mexico"],
    "Hueco Bolson, New Mexico-Texas": ["New Mexico", "Texas"],
    "Las Vegas Valley, Nevada": ["Nevada"],
    "Los Angeles Basin, CA": ["California"],
    "Mesilla Basin, New Mexico": ["New Mexico"],
    "Middle Rio Grande Basin, NM": ["New Mexico"],
    "Milford Area, Utah": ["Utah"],
    "Mimbres Basin, New Mexico": ["New Mexico"],
    "Mojave River Basin, CA": ["California"],
    "Pahvant Valley, Utah": ["Utah"],
    "Paradise Valley, Nevada": ["Nevada"],
    "Pecos River Basin Alluvium, TX": ["Texas"],
    "San Luis Valley, Colorado": ["Colorado"],
    "Tularosa Basin, New Mexico": ["New Mexico"],
    "Columbia Plateau Aquifer System": ["Washington", "Oregon", "Idaho"],
    "Oahu, Hawaii": ["Hawaii"],
    "Snake River Plain, Idaho": ["Idaho"],
    "Black Mesa Area, Arizona": ["Arizona"],
    "Midwest Cambrian-Ordovician Aquifer System": ["Illinois", "Indiana", "Iowa", "Michigan", "Minnesota", "Missouri", "Wisconsin"],
    "Dakota Aquifer, Northern Great Plains": ["Montana", "North Dakota", "South Dakota", "Nebraska", "Kansas"],
    "Denver Basin, Colorado": ["Colorado"]
}

# Map states to aquifers
aquifer_data['Mapped States'] = aquifer_data['Area (or subarea) Name'].str.strip().map(aquifer_to_states)

# Explode rows for multi-state aquifers
#exploded_data = aquifer_data.explode('Mapped States')

# Save the result
#exploded_data.to_csv('aquifer_with_states.csv', index=False)

In [25]:
aquifer_data = aquifer_data.iloc[:40,]
aquifer_data.head()

,Area (or subarea) Name,Size of Area (km^2),GW Depl avg rate (km^3/yr)2001-2008,Mapped States
0,Georgia & northeast Florida,66534.0,0.000,"[Georgia, Florida]"
1,"Long Island, New York",3380.0,-0.053,[New York]
2,Maryland and Delaware,18489.0,0.042,"[Maryland, Delaware]"
3,New Jersey,11614.0,0.000,[New Jersey]
4,North Carolina,55901.0,0.053,[North Carolina]

In [26]:
# Explode rows for multi-state aquifers
expanded_data = aquifer_data.explode('Mapped States').reset_index(drop=True)
expanded_data.head()

,Area (or subarea) Name,Size of Area (km^2),GW Depl avg rate (km^3/yr)2001-2008,Mapped States
0,Georgia & northeast Florida,66534.0,0.000,Georgia
1,Georgia & northeast Florida,66534.0,0.000,Florida
2,"Long Island, New York",3380.0,-0.053,New York
3,Maryland and Delaware,18489.0,0.042,Maryland
4,Maryland and Delaware,18489.0,0.042,Delaware

In [27]:
expanded_data['Proportional Depletion Rate'] = (
    expanded_data['GW Depl avg rate (km^3/yr)2001-2008'] *
    (expanded_data['Size of Area (km^2)'] / expanded_data.groupby('Area (or subarea) Name')['Size of Area (km^2)'].transform('sum'))
)

In [30]:
expanded_data.head(20)

,Area (or subarea) Name,Size of Area (km^2),GW Depl avg rate (km^3/yr)2001-2008,Mapped States,Proportional Depletion Rate
0,Georgia & northeast Florida,66534.0,0.000,Georgia,0.0000
1,Georgia & northeast Florida,66534.0,0.000,Florida,0.0000
2,"Long Island, New York",3380.0,-0.053,New York,-0.0530
3,Maryland and Delaware,18489.0,0.042,Maryland,0.0210
4,Maryland and Delaware,18489.0,0.042,Delaware,0.0210
5,New Jersey,11614.0,0.000,New Jersey,0.0000
6,North Carolina,55901.0,0.053,North Carolina,0.0530
7,South Carolina,48931.0,0.062,South Carolina,0.0620
8,Virginia,18761.0,0.244,Virginia,0.2440
9,"Coastal Lowlands of AL,FL,LA,MS",140056.0,0.090,Alabama,0.0225
10,"Coastal Lowlands of AL,FL,LA,MS",140056.0,0.090,Florida,0.0225
11,"Coastal Lowlands of AL,FL,LA,MS",140056.0,0.090,Louisiana,0.0225
12,"Coastal Lowlands of AL,FL,LA,MS",140056.0,0.090,Mississippi,0.0225
13,Houston Area and Northern Part of TX Gulf Coast,50157.0,0.280,Texas,0.2800
14,Central Part of Gulf Coast Aquifer System in TX,61200.0,0.000,Texas,0.0000
15,"Winter Garden Area, Southern Part of TX Gulf ...",35571.0,0.012,Texas,0.0120
16,Mississippi Embayment,201483.0,8.048,Arkansas,1.6096
17,Mississippi Embayment,201483.0,8.048,Louisiana,1.6096
18,Mississippi Embayment,201483.0,8.048,Mississippi,1.6096
19,Mississippi Embayment,201483.0,8.048,Missouri,1.6096

In [38]:
expanded_data[expanded_data['Mapped States'].duplicated()]

,Area (or subarea) Name,Size of Area (km^2),GW Depl avg rate (km^3/yr)2001-2008,Mapped States,Proportional Depletion Rate
10,"Coastal Lowlands of AL,FL,LA,MS",140056.0,0.090,Florida,0.02250
14,Central Part of Gulf Coast Aquifer System in TX,61200.0,0.000,Texas,0.00000
15,"Winter Garden Area, Southern Part of TX Gulf ...",35571.0,0.012,Texas,0.01200
17,Mississippi Embayment,201483.0,8.048,Louisiana,1.60960
18,Mississippi Embayment,201483.0,8.048,Mississippi,1.60960
21,High Plains (Ogallala) Aquifer,461471.0,11.830,Texas,1.47875
31,"Antelope Valley, California",6328.0,0.005,California,0.00500
32,"Coachella Valley, California",4333.0,0.060,California,0.06000
33,"Death Valley Region, CA-NV",44108.0,0.080,California,0.04000
36,"Estancia Basin, New Mexico",6460.0,0.028,New Mexico,0.02800
37,"Hueco Bolson, New Mexico-Texas",3600.0,0.135,New Mexico,0.06750
38,"Hueco Bolson, New Mexico-Texas",3600.0,0.135,Texas,0.06750
39,"Las Vegas Valley, Nevada",1958.0,-0.026,Nevada,-0.02600
40,"Los Angeles Basin, CA",1362.0,0.014,California,0.01400
41,"Mesilla Basin, New Mexico",2585.0,0.010,New Mexico,0.01000
42,"Middle Rio Grande Basin, NM",7886.0,0.042,New Mexico,0.04200
43,"Milford Area, Utah",1031.0,0.021,Utah,0.02100
44,"Mimbres Basin, New Mexico",11320.0,0.000,New Mexico,0.00000
45,"Mojave River Basin, CA",9734.0,0.041,California,0.04100
46,"Pahvant Valley, Utah",705.0,0.037,Utah,0.03700
47,"Paradise Valley, Nevada",2100.0,0.005,Nevada,0.00500
48,"Pecos River Basin Alluvium, TX",14504.0,0.093,Texas,0.09300
49,"San Luis Valley, Colorado",8217.0,0.045,Colorado,0.04500
50,"Tularosa Basin, New Mexico",10458.0,0.050,New Mexico,0.05000
55,"Snake River Plain, Idaho",37300.0,0.180,Idaho,0.18000
56,"Black Mesa Area, Arizona",14073.0,0.008,Arizona,0.00800
62,Midwest Cambrian-Ordovician Aquifer System,460286.0,0.175,Missouri,0.02500
66,"Dakota Aquifer, Northern Great Plains",655613.0,0.089,South Dakota,0.01780
67,"Dakota Aquifer, Northern Great Plains",655613.0,0.089,Nebraska,0.01780
68,"Dakota Aquifer, Northern Great Plains",655613.0,0.089,Kansas,0.01780
69,"Denver Basin, Colorado",17584.0,0.051,Colorado,0.05100

In [44]:
statewise_depletion = expanded_data.iloc[:,3:]

In [45]:
statewise_depletion.head(15)

     Mapped States  Proportional Depletion Rate
0          Georgia                       0.0000
1          Florida                       0.0000
2         New York                      -0.0530
3         Maryland                       0.0210
4         Delaware                       0.0210
5       New Jersey                       0.0000
6   North Carolina                       0.0530
7   South Carolina                       0.0620
8         Virginia                       0.2440
9          Alabama                       0.0225
10         Florida                       0.0225
11       Louisiana                       0.0225
12     Mississippi                       0.0225
13           Texas                       0.2800
14           Texas                       0.0000

In [46]:
statewise_grouped_depletion = statewise_depletion.groupby('Mapped States', as_index=False)['Proportional Depletion Rate'].sum()

# Rename columns for clarity
statewise_grouped_depletion.rename(columns={
    'Mapped States': 'State',
    'Proportional Depletion Rate': 'Total GW Depletion Rate (km^3/yr)'
}, inplace=True)

In [48]:
statewise_grouped_depletion.shape

(39, 2)

In [49]:
# Save the grouped data to a new CSV file (optional)
output_file = "statewise_groundwater_depletion_grouped.csv"
statewise_grouped_depletion.to_csv(output_file, index=False)